
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>学校管理系统-校级用户审核</title>
		<link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">
		<link rel="stylesheet" href="../../static/css/maschooluserver.css">
	</head>
	<body class="layui-layout-body">
		
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
		  <ul class="layui-tab-title">
		    <li class="layui-this" onclick="document.getElementById('id1').setAttribute('class','layui-tab-item layui-show');
			document.getElementById('id2').setAttribute('class','layui-tab-item');">审批申请</li>
		    <li onclick="document.getElementById('id2').setAttribute('class','layui-tab-item layui-show');
			document.getElementById('id1').setAttribute('class','layui-tab-item');">历史审批</li>
		  </ul>
		  <div id="id1" class="layui-tab-item layui-show">
			  <table class="layui-hide table class" id="test" lay-filter="test"></table>
		  </div>
		  <div id="id2" class="layui-tab-item">
			  <form class="layui-form" action="">
				  <div class="layui-input-inline">
					  <label class="layui-form-label">审批状态</label>
					  <div class="layui-input-block">
						  <select name="approvalStatus" lay-verify="required">
							  <option value=""></option>
							  <option value="审批通过">审批通过</option>
							  <option value="驳回申请">驳回申请</option>
						  </select>
					  </div>
				  </div>
				  <div class="layui-input-inline">
					  <label class="layui-form-label">申请人</label>
					  <div class="layui-input-block">
						  <input type="text" name="applicant" required  lay-verify="required" placeholder="请输入申请人" autocomplete="off" class="layui-input">
					  </div>
				  </div>
				  <div class="layui-input-inline">
					  <div class="layui-input-block">
						  <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
					  </div>
				  </div>
			  </form>
			  <table class="layui-hide table class" id="test2"  lay-filter="test2"></table>
		  </div>
		</div>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
		    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">选中数目</button>
		    <button class="layui-btn layui-btn-sm" lay-event="isAll">是否全选</button>
		    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="rejectApply">驳回申请</button>
		    <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="approved">审核通过</button>
		  </div>
		</script>

		<script src="../../static/plugin/layui/layui.js" ></script>
		<script src="../../static/js/mashooluserver.js"></script>
	</body>
</html>
