<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>网络工程系</title>
    <link rel="stylesheet" href="../../static/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/department.css">
</head>


<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-form-text" >网络工程系</div>
    <div class="contain" style="margin-top:2px ">
        <img src="../../static/img/picture.jpg" height="150px" width="100%">
    </div>


    <div class="body-text1">
        <div class="layui-card">
            <div class="layui-card-header" style="text-align: center;font-size: large" > 本系概况</div>
            <div class="layui-card-body" style="font-size: small">
                网络工程系现设有网络工程、网络空间安全两个本科专业。
                本系的人才培养目标：培养具有创新能力的高素质应用型本科人才。
            </div>
        </div>
    </div>

    <div class="body-text1">
        <div class="layui-card">
            <div class="layui-card-header" style="text-align: center;font-size: large" > 组织架构</div>
            <div class="layui-card-body" style="font-size: small">
                主任：黄震
                <br>副主任：谢中华（负责网络空间安全）
            </div>
    </div>
    </div>

    <div class="body-text2">
    <div class="layui-card">
        <div class="layui-card-header" style="text-align: center;font-size: large"  >专业介绍</div>
        <div class="layui-card-header" style="font-size: medium">网络工程</div>
        <div class="layui-card-body" style="font-size: small">
            培养目标:掌握计算机、通信以及网络方面的基础理论、设计原理，熟悉各类网络系统的组网、规划、设计、评价的理论、方法与技术，
            具备计算机通信和网络技术以及网络工程的实践能力；具备计算机网络设备和系统的研究、设计、开发、工程应用、安全管理和维护能力；
            了解网络工程学科的前沿信息和发展趋势，具有一定国际视野和创新能力的高素质应用型人才。
        </div>

        <div class="layui-card-header" style="font-size: medium">网络空间安全</div>
        <div class="layui-card-body"style="font-size: small">
            培养目标： 本专业培养德、智、体、美全面发展的，掌握计算机网络与信息安全技术的基本理论和专门知识、国家信息安全的法律和法规知识；
            具备计算机网络系统的设计、管理与维护能力、信息安全管理能力，了解本专业学科的前沿信息和发展动态，具备扎实的基础理论、宽厚的专业知识、
            良好的科学素养和创新意识、较强的计算机网络设备和系统的研究、设计、开发、工程应用、安全管理和维护的能力，能在教育、企事业单位、
            各级政府机关、社会团体等行业，从事计算机网络、网络安全和管理技术等方面工作的具有一定国际视野和创新能力的高素质应用型人才。
        </div>
    </div>

    </div>
</div>

<script src="../../static/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</body>
</html>
