<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校级信息展示</title>
    <link rel="stylesheet" href="../../static/css/schoolInfo.css">
</head>

<body>
    <div class="head">
        <img src="../../static/img/image/logo.png" class="logo">
    </div>
    <div class="nav">
        <ul>
            <li>学校简介</li>
            <li>现任领导</li>
            <li>学校标识</li>
            <li>学校位置</li>
        </ul>
    </div>
    <img src="../../static/img/image/picture.png" class="pic">
    <div class="war">
        <div class="list list1">
            <div class="contain">
                <h2>学校简介</h2>
                <p>&emsp;&emsp;惠州学院地处全国文明城市、国家历史文化名城、粤港澳大湾区重要城市——惠州，是广东省属全日制公办本科高校、普通本科转型试点高校、省市共建本科高校和省硕士学位授予立项建设单位、第二批省级双创示范基地和省创建国家教师教育创新实验区立项院校。学校占地近2500亩，面向全国23个省（自治区、直辖市）招生，现有全日制在校生17812名。</p>
                <p>&emsp;&emsp;<strong>扎根地方，底蕴深厚成效突出。</strong>学校前身为1946年创办的广东省立惠州师范学校，1978年升格为惠阳师范专科学校，1988年是广东省唯一一所受国家教委表彰的师范专科学校，1991年在广东省高校办学水平评估中被评为一等高校，1993年与西北纺织工学院惠州分院、惠州教育学院合并成立专科层次的惠州大学，2000年升格为全日制普通本科院校，2006年通过教育部本科教学工作水平评估。办学73年来，薪火相传，继往开来，学校逐步形成了“立足惠州，融入粤港澳大湾区，服务广东，辐射全国，建设理工科特色鲜明、教师教育协调发展的高水平应用型大学”的办学定位和“具有科学精神、人文素养、国际视野、创新思维的高素质应用型人才”的培养目标，为国家、社会培养了近16万名毕业生，成为东江流域高级应用型人才的摇篮。</p>
                <p>&emsp;&emsp;<strong>特色鲜明，学科科研持续提升。</strong>学校现有广东省优势重点学科1个，广东省特色重点学科2个，省“冲一流、补短板、强特色”提升计划重点建设学科3个,建成或在建各级各类科研创新平台57个，包括：国际合作平台1个、院士平台2个、省厅级科研创新平台10个、市级科研创新平台14个、校地合作平台30个；夏佳文院士领衔的离子治疗癌症肿瘤装置研发团队，入选广东省“珠江人才计划”第六批创新创业团队；近10年获得纵向科研项目1061项（其中国家级项目62项），科研项目经费累计突破1亿元；获得国内外专利授权492件（其中发明专利79件，PCT15件）；获得政府奖67项（其中省部级以上科研奖励10项）；连续举办三届“惠州学院•马来西亚理工大学联合学术研讨会”；获得“2016年中国产学研合作促进奖”“2018年中国产学研合作创新奖”。</p>
                <p>&emsp;&emsp;<strong>师资优良，国际合作日益深化。</strong>学校现有专任教师918名，其中教授（正高）102名、副教授（副高）255名，博士352名；另有外聘教师220名，折算后教师总数为1028名。现有院士2名（特聘）、全国优秀教师1名、广东省“千百十人才工程”省级培养对象9名、广东省“教学名师”3名、广东省“特支计划”青年文化英才1名、南粤优秀教师12名、“天鹅计划”领军人物2名、东江学者1名、广东省优秀教学团队10个、广东省高校创新团队1个，聘请49位国内著名专家学者为客座教授，聘请一批行业企业专家进校园协同培养人才。学校坚持走国际化办学道路,同美国、俄罗斯、乌克兰、日本、马来西亚等13个国家和港澳台地区近40多所高校建立了合作关系，与乌克兰国立技术大学共建联合研究院，与香港旭日集团、香港制衣业训练局深度协同办学，引进国（境）外科研团队2个，引进来自英国、澳大利亚、日本等国家的全职外籍教师33名。</p>
                <p>&emsp;&emsp;<strong>强化应用，服务能力稳步增强。</strong>学校主动对接惠州行业和主导产业，提升服务地方创新驱动发展能力和水平。围绕地方支柱产业筹建仲恺信息学院、大亚湾精细化工学院、惠东时尚创意学院、博罗旅游与健康学院等特色产业学院，努力实现“一县（区）一特色产业学院”；共与197家地方企事业单位签订产学研战略合作协议，组建国家城市污水处理及资源化工程技术研究中心惠州分中心、惠州市金属纳米复合材料研究院、大亚湾化工研究院等一批具有影响力的产学研协同创新平台；遴选64项科研成果参加第一、二届中国高校科技成果交易会，成功签约136项次；承担社会委托项目543项，获得总经费3500万元；省市产学研项目立项23项，合作开展研究项目200余项；成立立法研究中心、科技发展研究中心等，为地方各级政府提供社会经济发展规划、政策咨询与研究、地方立法决策与社会治理咨询服务，为企事业单位与其他社会组织提供科技咨询、指导服务等，彰显智库作用；开展东坡寓惠、惠州民俗文化、惠州方言等研究，组建交响乐团、合唱团等品牌艺术团队，推动构建终身教育体系，为地方提供继续教育培训服务16.2万人次，引领支撑地方文化教育事业发展。</p>
                <p>&emsp;&emsp;当前，学校不忘初心，牢记使命，主动对接区域经济社会发展战略需求，全力推动高质量发展。坚持“以本为本”，推进“四个回归”，培养具有科学精神、人文素养、国际视野、创新思维的高素质应用型人才，为建设高水平应用型大学不懈奋斗</p>
            </div>
            <div class="end">统计数据截止于2019年9月</div>
        </div>
        <div class="list list2  hide">
            <div class="contain">
                <h2>现任领导</h2>
                <table>
                    <tr>
                        <td>党委书记、校长</td>
                        <td>彭永宏</td>
                    </tr>
                    <tr>
                        <td>党委副书记、纪委书记、省监委驻惠州学院监察专员</td>
                        <td>罗川山</td>
                    </tr>
                    <tr>
                        <td>副校长 </td>
                        <td>许玩宏 刘国栋 郑文 曹建忠</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="list list3 hide">
            <div class="contain">
                <h2>学校标识</h2>
                <p>校训：</p>
                <img src="../../static/img/image/motto.jpg" alt="">
                <p><strong>解读：</strong></p>
                <p>&emsp;&emsp;我校校训体现历史、阐发精神，凝聚共识、面向未来。从我校办学实践来看，衡之古今，校之人我，验之成败，校训精神不出以下四端——</p>
                <p>&emsp;&emsp;敦重。我校1921年发源于粤秀书院，1946年发展于丰湖书院。清代，惠州知府伊秉绶以“国家尊崇正学”，大规模修建丰湖书院。在院内大堂壁上题隶书“敦重”二字，并款识如下：“人需厚重也，重则威仪整，学问固。所以语云：‘君子不重则不威，学则不固，’是之谓乎。余故于厅内题‘敦重’二字以铭之”。“敦重”二字已成为丰湖书院要素的典型代表，体现了学校办学历史的文脉传承、精神气质及书院特色。</p>
                <p>&emsp;&emsp;明辨。语出《礼记·中庸》：“博学之，审问之，慎思之，明辨之，笃行之。有弗学，学之弗能，弗措也；有弗问，问之弗知，弗措也；有弗思，思之弗得，弗措也；有弗辨，辨之弗明，弗措也；有弗行，行之弗笃，弗措也。人一能之，己百之，人十能之，己千之。果能此道矣，虽愚必明，虽柔必强。”强调为学之要在广博、勤勉、起疑、慎思、辨析与践行，取明辨以概括之。因为要明辨，须立足于博学、审问、慎思之功力。</p>
                <p>&emsp;&emsp;求真。语出《庄子·渔父》：“真者，精诚之至也，不精不诚，不能动人，故强哭者，虽悲不哀；强怒者，虽严不威；强亲者，虽笑不和。”《礼记·中庸》子曰：“君子尊德性而道问学，致广大而尽精微，极高明而道中庸。”含求真求是，信实不欺之义，这是教育的根本。</p>
                <p>&emsp;&emsp;致用。语出《易·系辞上》：“备物致用，立成器以为天下利，莫大乎圣人。”强调知行合一，学用互摄。实践出真知，弘道向学，皈依在此。</p>
                <p>&emsp;&emsp;概括起来，“敦重明辨，求真致用”意在弘扬丰湖书院传统，光大“敦重”之训导，强调为人与为学相统一，人文与科学相融汇，知与行相印证。提倡惠州学院人应该有的精神，即庄重朴实、慎思明辨、求真求是、学以致用的精神。</p>
                <p>&emsp;&emsp;校训书法专用字体为苏轼书迹集字。</p>
                <hr>
                <p>校风：</p>
                <img src="../../static/img/image/spirit.jpg" alt="">
                <p><strong>解读：</strong></p>
                <p>&emsp;&emsp;“阆苑储英人竞向学”出自丰湖书院典籍，丰湖书院是惠州学院自1946年建校至今长期办学的校址，丰湖书院的文脉和精神气质传承和弘扬于我校。</p>
                <p>&emsp;&emsp;“阆苑储英”出自清代名儒、丰湖书院山长的梁鼎芬（1859～1919）为丰湖书院撰写的楹联“水媚山晖平湖聚秀，春华秋实阆苑储英。”</p>
                <p>&emsp;&emsp;“人竞向学”出自清代惠州知府程含章（1763～1832）的《增广丰湖书院膏火碑记》“进所属俊髦士，延师教之。为之正其趋向，发其志气，增其书舍，厚其膏火，严其考课，亲为讲解文字。于是从者云集，人竞向学矣。”</p>
                <p>&emsp;&emsp;概括起来，“阆苑储英，人竞向学”意为学校致力于创建优越的环境条件，汇聚和培养优秀的人才，形成好学笃行的风气。</p>
                <p>&emsp;&emsp;校风书法专用字体为苏轼书迹集字。</p>
                <hr>
                <p>校徽：</p>
                <img src="../../static/img/image/badge.jpg" alt=" ">
                <p><strong>解读：</strong></p>
                <p>&emsp;&emsp;学校校徽为圆形，主体为校名英文“Huizhou University”首写字母“H”、“U”，“H”呈书本状，象征学问、智慧，“U”呈玉玦状，以玉象征美德、道义，两者结合，寓意“德才兼备，文以载道”；主体环绕两同心圆环，两环之间置中英文校名，中文校名“惠州学院”居上半部分，字体为苏轼书法集字，英文校名“Huizhou University”居下半部分，字体为大写的方正大黑简体字。校徽专用色为“丰湖青”：C100.M20.Y40.K0。</p>
                <hr>
                <p>校旗：</p>
                <img src="../../static/img/image/banner.jpg" alt=" ">
                <p><strong>解读：</strong></p>
                <p>&emsp;&emsp;　学校校旗为长方形旗帜，长宽比为3:2，白底青标（“丰湖青”：C100.M20.Y40.K0），旗帜图标居中央，旗帜图标为校徽与中英文校名“惠州学院”、“Huizhou University”的左右标准组合，校徽直径与旗帜底宽之比为8:25。</p>
                <p>&emsp;&emsp;常用规格：</p>
                <p>&emsp;&emsp;一号旗：288cm*192cm 二号旗：240cm*160cm</p>
                <p>&emsp;&emsp;三号旗：192cm*128cm　四号旗：144cm*96cm</p>
                <p>&emsp;&emsp;五号旗：96cm*46cm</p>
                <hr>
                <p>校歌：</p>
                <img src="../../static/img/image/Song.jpg" alt=" ">
            </div>
        </div>
        <div class="list list4 hide">
            <div class="contain">
                <h2>学校位置</h2>
                <!--百度地图容器-->
                <div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
                <p>地址：广东惠州市演达大道46号 邮编：516007</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="foot_img_left ">
            <ul>
                <li>
                    <img src="../../static/img/image/f4.gif ">
                    <div class="foot_img_text ">微信公众号</div>
                </li>
                <li>
                    <img src="../../static/img/image/f5.png ">
                    <div class="foot_img_text ">手机版</div>
                </li>
            </ul>
        </div>
        <div class="detail ">
            <ul>
                <li>地址：广东惠州市演达大道46号 邮编：516007</li>
                <li>总机：0752-2529000 E-mail:webmaster@hzu.edu.cn</li>
                <li>版权所有©惠州学院 粤ICP备05008877号</li>
            </ul>
        </div>
        <div class="foot_img_right ">
            <ul>
                <li>
                    <img src="../../static/img/image/f1.png ">
                </li>
                <li>
                    <img src="../../static/img/image/f2.png ">
                </li>
                <li>
                    <img src="../../static/img/image/f3.png ">
                </li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <script type="text/javascript" src="../../static/js/schoolInfo.js"></script>
</body>

</html>