<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">
		<link rel="stylesheet" href="../../static/css/tesetmanager.css">
	</head>
	<body>
	<table class="layui-hide" id="demo" lay-filter="test">
		<div class="layui-form-text" >管理员身份设置
			<a class="layui-btn layui-btn-normal preview">添加管理员</a>
		</div>
	</table>
			<table class="layui-table">
				<colgroup>
					<col width="200">
					<col width="200">
					<col width="100">
					<col width="300">
					<col width="200">
					<col width="200">
					<col width="300">
					<col width="300">
				</colgroup>
				<thead>
					<tr>
						<th>ID</th>
						<th>姓名</th>
						<th>性别</th>
						<th>所属学院</th>
						<th>所属系</th>
						<th>职务</th>
						<th>权限</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1814080902308</td>
						<td>张三</td>
						<td>男</td>
						<td>计算机科学与工程学院</td>
						<td>软件工程</td>
						<td>普通教师</td>
						<td>院处级管理员</td>
						<td class="td">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902333</td>
						<td>李四</td>
						<td>女</td>
						<td>计算机科学与工程学院</td>
						<td>网络工程</td>
						<td>普通教师</td>
						<td>院处级管理员</td>
						<td class="td">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>

								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902334</td>
						<td>黄少</td>
						<td>男</td>
						<td>经济管理学院</td>
						<td>财务管理</td>
						<td>普通教师</td>
						<td>院处级管理员</td>
						<td class="td">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>

								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902335</td>
						<td>刘少</td>
						<td>男</td>
						<td>经济管理学院</td>
						<td>物流管理</td>
						<td>普通教师</td>
						<td>系科部级管理员</td>
						<td  class="td">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
					
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902336</td>
						<td>李少</td>
						<td>男</td>
						<td>经济管理学院</td>
						<td>物流管理</td>
						<td>普通教师</td>
						<td>系科部级管理员</td>
						<td class="td">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
					
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902337</td>
						<td>连少</td>
						<td>男</td>
						<td>经济管理学院</td>
						<td>国际经济与贸易</td>
						<td>普通教师</td>
						<td>系科部级管理员</td>
						<td class="td">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>


	</body>

</html>
