* {
    margin: 0;
    padding: 0;
}

.block {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin:  auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.box_big {
    position: absolute;
    width: 100%;
    height: 400px;

}

.nav {
    transition: margin-left 0.5s linear;
}

.box {
    width: 100%;
    height: 400px;
    float: left;
}

img {
    width: 100%;
    height: 100%;
}
/*1,2,3,4,5*/
.spot {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 5px;
}

.spot_list {

    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 30px;
    font-weight: bolder;
    margin: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
}

.btn {
    width: 100%;
    height: 80px;
    position: absolute;
    margin: 0 auto;
    top: 160px;
}

.left_btn, .right_btn {
    width: 30px;
    height: 80px;
    z-index: 15;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    line-height: 80px;
    border-radius: 8px;

}

.left_btn {
    float: left;
}

.right_btn {
    float: right;
}

.layui-nav-item{
    font-weight: bold;
    left: 300px;
    font-size: large;

}
.GL{
    position: absolute;
    right: -725px;
    top: 0px;
}



.foot{
    width: 100%;
    height: 50px;
    background-color: #22b9d5;
    position: absolute;
    top: 895px;
    font-size: large;
    text-align: center;
    line-height: 50px;

 }


/*11.css*/

element.style {
}
.wp-container {
}
.wp-wrapper {
    width: 100%;
    background-color: #fff;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}

.body, p {
    font-size:16px;
}
body, p {
    font: 14px/1 宋体, Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
    color: #333;
}
body {
    line-height: 1;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




/*logo.css*/
.logo{
    width: auto;

}
.layui-layout-left{
    left: 25%;
}
.layui-layout-admin .layui-header{
    background-color: #22b9d5;
}

.h2{
    line-height: 32px;
    text-align: center;
}
.p1{
    width: 35%;
    height: 290px;
    float: left;
    margin-left: 2px;
    background-color: #f8fdf6;
    border-radius: 15px;
    box-shadow:2px 2px 5px darkgray;
}
.pp{
    word-wrap: break-word;
    word-break: break-all;
    line-height: 25px;

}

/*.p2{*/
/*    width: 64%;*/
/*    height: 290px;*/
/*    float: left;*/
/*    margin-left: 8px;*/
/*    background-color: #f8fdf6;*/
/*    border-radius: 30px;*/
/*    box-shadow:2px 2px 5px darkgray;*/
/*}*/

/*.col{*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    padding: 0 0.75rem;*/
/*    min-height: 1px;*/

/*.tabs{*/
/*    position: relative;*/
/*    overflow-x: auto;*/
/*    overflow-y: hidden;*/
/*    height: 48px;*/
/*    width: 100%;*/
/*    background-color: #fff;*/
/*    margin: 0 auto;*/
/*    white-space: nowrap;*/
/*}*/
/*.tab.col.s3 {*/
/*    width: 25%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/
/*}*/
/*a.active {*/
/*    background-color: #f44336;*/
/*    color: #ffffff;*/
/*}*/
/*.row .col.s3 {*/
/*    width: 25%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/
/*}*/
/*.row .col.s3 {*/
/*    width: 25%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/
/*}*/
/*.row .col.s3 {*/
/*    width: 25%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/
/*}*/
/*.tabs .indicator {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    height: 2px;*/
/*    background-color: #f6b2b5;*/
/*    will-change: left, right;*/
/*}*/
/*.clearBoth {*/
/*    clear: both;*/
/*}*/

/*!*test1*!*/
/*.row .col.s12 {*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/
/*   */
/*}*/
/*.row .col {*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    padding: 0 0.75rem;*/
/*    min-height: 1px;*/
/*    display: block;*/
/*}*/
/*!*test2*!*/
/*.row .col.s12 {*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/

/*}*/
/*.row .col {*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    padding: 0 0.75rem;*/
/*    min-height: 1px;*/
/*    display: block;*/
/*}*/
/*!*test3*!*/
/*.row .col.s12 {*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/

/*}*/
/*.row .col {*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    padding: 0 0.75rem;*/
/*    min-height: 1px;*/
/*    display: block;*/
/*}*/
/*!*test4*!*/
/*.row .col.s12 {*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    left: auto;*/
/*    right: auto;*/

/*}*/
/*.row .col {*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*    padding: 0 0.75rem;*/
/*    min-height: 1px;*/
/*    display: block;*/
/*}*/

/*.clearBoth {*/
/*    clear: both;*/
/*}*/


.layui-layout-body{
    height: 900px;
}
.four-b{

    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
    width: 64%;
    height: 290px;
    float: left;
    margin-left: 8px;
    background-color: #f8fdf6;
    border-radius: 15px;
    box-shadow:2px 2px 5px darkgray;
    overflow-y: scroll;
}

.four-b label{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eee;
}
.mod-1{
    width: 100%;
    height: 400px;
}
.label-1{
    left: 10px;
    top: 5px;

}
.label-2{
    left: 140px;
    top: 5px;

}
.label-3{
    left: 270px;
    top: 5px;

}
.label-4{
    left: 400px;
    top: 5px;

}

.u1{
    word-wrap: break-word;
    word-break: break-all;
    line-height: 25px;
    overflow-y: scroll;
}
.h3{
    font-weight: bold;

}

input[type='radio']{
    display: none;
}
input[class='test-radio1']:checked~div[class^='mod']{
    display: block;
}
input[class='test-radio1']:checked~label{
    background: #22b9d5;
}
[class^='mod']{
    position: absolute;
    top: 40px;
    left: 20px;
    height: auto;
    display: none;
    background-color: #fafafa;
}

/*领导介绍*/

.p3{
    width: 35%;
    height: 290px;
    float: left;
    margin-left: 2px;
    background-color: #f8fdf6;
    border-radius: 15px;
    box-shadow:2px 2px 5px darkgray;

}
.h22{
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}

.dropbtn {
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 5px;
    width: 424px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    border:1px solid #010101;
    box-shadow:2px 2px 5px darkgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #22b9d5;
}


/*消息*/
.four-bb{

    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
    width: 64%;
    height: 290px;
    float: left;
    margin-left: 8px;
    background-color: #f8fdf6;
    border-radius: 15px;
    box-shadow:2px 2px 5px darkgray;
    overflow-y: scroll;
}

.four-bb label{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eee;
}
.mod-11{
    width: 100%;
    height: 400px;
}
.label-5{
    left: 10px;
    top: 5px;

}
.label-6{
    left: 140px;
    top: 5px;

}
.label-7{
    left: 270px;
    top: 5px;

}
.label-8{
    left: 400px;
    top: 5px;

}

.u11{
    word-wrap: break-word;
    word-break: break-all;
    line-height: 25px;
    overflow-y: scroll;
}
.h33{
    font-weight: bold;

}

input[type='radio1']{
    display: none;
}
input[class='test-radio11']:checked~div[class^='mod']{
    display: block;
}
input[class='test-radio11']:checked~label{
    background: #22b9d5;
}
[class^='mod']{
    position: absolute;
    top: 40px;
    left: 20px;
    height: auto;
    display: none;
    background-color: #fafafa;
}



