body {
    margin: 0 0;
    padding: 0 0;
}

.head {
    background-image: url(../img/image/head.png);
    padding: 10px 0;
}

.logo {
    margin-left: 20%;
}

.nav ul {
    display: flex;
    padding: 10px 0px;
    flex-direction: row;
    justify-content: center;
}

.nav ul li {
    padding: 5px 40px;
    list-style: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav ul li:hover {
    background-color: #eccc68;
    cursor: pointer;
}

.pic {
    width: 100%;
}

.war {
    display: flex;
    justify-content: center;
}

.war>div {
    margin: 20px 0;
    width: 50%;
}

.contain>h2 {
    color: #ff6348;
}

.list1 .end {
    text-align: right;
    color: red;
}

.list2 {
    display: flex;
    justify-content: center;
}

.list2 table {
    border-collapse: collapse;
    padding: 0;
}

.list2 td {
    border: 1px solid black;
    text-align: center;
}

.map {
    width: 100%;
    height: 550px;
    border: #ccc solid 1px;
}

footer {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
    background-color: #a70e11;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding-left: 10px;
}

.foot_img_left ul {
    display: flex;
    flex-direction: row;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail li {
    padding: 4px 0;
}

.foot_img_right ul {
    margin-left: 200px;
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide {
    display: none;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}