.layui-layout-admin .layui-header {
    background-color: #258084;
}
.layui-side,.layui-nav,.layui-side-scroll
{
    background-color:#DDEFF1;
}
#shuxing{
    text-align: center;
    color: #2E2D3C;
}

