.war {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: sandybrown;
    font-size: 20px;
    text-align: center;
}

.preview{
    margin-right: 20px;
    margin-top: 10px;
}

.hide {
    display: none;
}